<span class="success"><%= flash[:notice] %></span>
<span class="fail"><%= flash[:alert] %></span>

<h1>Welcome to the Deep Thoughts Blog</h1>

<%= link_to "Add new post", new_post_path, :class => "btn btn-primary" %>

<% if @posts.any? %>
  <h3>All posts:</h3>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% end %>
