<h1>Welcome to the Deep Thoughts Blog</h1>


<% if @posts.any? %>
  <%= link_to "Add new post", new_post_path, :class => "btn btn-primary" %>
  <br>
  <h3>Deep thoughts:</h3>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    Nobody has admitted their deep thoughts yet.
    <br>
    <%= link_to "Add new post", new_post_path, :class => "btn btn-primary" %>
  </p>
<% end %>
